<div class="article">
  <div class="article__wrapper">
    <img src="/uploads/{{post.imageUrl}}" alt="" class="article__img">
    <h3 class="article__title">{{post.title}}</h3>
    <p class="article__text">{{post.description}}</p>
    {{#if comments.length}}
      <div class="comments">
        {{#each comments}}
          <div class="comment">
            <h5 class="comment__nickname">{{ nickname }}</h5>
            <p class="comment__text">{{ comment }}</p>
          </div>
        {{/each}}
        </div>
    {{/if}}
        <form class="comment-form" action="/articles/comment" method="post">
          <input minlength="3" maxlength="15" placeholder="Name" class="comment-form__nickname" required type="text" name="nickname" id="">
          <textarea minlength="5" maxlength="100" placeholder="Comment" class="comment-form__comment" required name="comment" id="" rows="2" style="width: 100%">
          </textarea>
          <input class="hidden" type="text" name="postId" value="{{post.id}}" id="">
          <button class="comment-form__submit" type="submit">Add comment {{ post.id }}</button>
        </form>
  </div>
</div>